*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    height: 180px;
    
    background-color: #ffe4d8;
    border: 1px solid black ;
}

header img{
    float: left;
    height: 160px;
    width: 160px;
    margin-left: 35px;
    margin-top: 10px;
}

header button{
    float: right;
    width: 137px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #4e2c69;
    border: none;
    font-size: 20px;
    margin-top: 70px;
    margin-right: 60px;
    cursor: pointer;
}

header button:hover{
    width: 142px;
    height: 55px;
    font-size: 25px;
    transition: 1s;
}

.menus{
    border: 30px;
    background-color: #4e2c69;
    height: 50px;
    width: 1500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.menus a{
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menus a:hover{
    font-size: 22px;
    transition: 1s;   
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
}

footer .logo img{
    width: 250px;
    height: 250px;
    margin-right: 40px;
}

footer .logo{
    margin-right: 160px;
}

footer i{
    color: #4e2c69;
   
}

footer a{
   font-size: 35px;
   margin-left: 35px;
   
}

footer .colunas{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 100px;
}

footer .colunas h1{
    color: white; 
    font-size: 24px;
    margin-bottom: 15px;
}

footer .colunas h2{
    color: rgba(133, 133, 133, 0.641);
    font-size: 20px;
}

.titulo{
    text-align: center;
    margin-bottom: 50px;
    color: #007BFF;
    font-size: 28px;
    margin-top: 70px;
}

.container{
    width: 80%;
    height: 1600px;
    margin: auto;
    margin-bottom: 250px;
    margin-top: 80px;
    border-radius: 30px;
}

.fileira1{ 
    height: 300px;
    width: 100%;
    display: flex;
    background-color: #4e2c69;
    border-radius: 30px;
}

.card h2{
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 20px;
}

.fileira2{
    
    height: 300px;
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin: 30px 0 30px 0;
    
}

.card{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 9.5%;
    border-radius: 30px;

}

.card img{
    width: 250px;
    height: 200px;
    border-radius: 30px;
    border: 1px solid white;
}

.card2 {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 9.5%;
    border-radius: 30px;
}

.card2 img{
    width: 250px;
    height: 200px;
    border-radius: 30px;
    border: 1px solid #4e2c69;
}

.card2 h2{
    color: #4e2c69;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 20px;
}

.card3{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 20%;
    border-radius: 30px;
}

.card3 img{
    width: 250px;
    height: 200px;
    border-radius: 30px;
    border: 1px solid white;
}

.card3 h2{
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 20px;
}