*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 180px;
    background-color: #ffe4d8;
    border: 1px solid black ;
}

header img{
    float: left;
    height: 160px;
    width: 160px;
    margin-left: 35px;
    margin-top: 10px;
}

header button{
    float: right;
    width: 137px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #4e2c69;
    border: none;
    font-size: 20px;
    margin-top: 70px;
    margin-right: 60px;
    cursor: pointer;
}

header button:hover{
    width: 142px;
    height: 55px;
    font-size: 25px;
    transition: 1s;
}

.menus{
    border: 30px;
    background-color: #4e2c69;
    height: 50px;
    width: 1500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.menus a{
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menus a:hover{
    font-size: 22px;
    transition: 1s;   
}


.titulo{
    float: left;
}

.titulo h1{
    color: #2E93EF;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 100px; 
}

.titulo p{
    width: 555px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.imagem_rede{
    float: right;
    margin-top: 60px;
    padding-left: 100px;
}

.container{
    display: flex;
   
}


.texto h2{
    color: #2E93EF;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 50px; 
}

.texto p{
    width: 60%;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 18px;
}

.texto li{
    width: 80%;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 17px;
}

.texto ol span{
    font-weight: bold;
    font-size: 18px;
}

.texto ul{
    margin-left: 150px;
}

.texto ul span{
    font-weight: bold;
}

.lista .item h3{
    font-size: 20px;
    color: #4e2c69;
    margin-top: 50px;
    margin-left: 100px;
}

.lista .lista-direita{
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 50px;
}

.lista .lista-esquerda{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.lista{
    display: flex;
}

.item ul{
    margin-left: 100px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    margin-top: 180px;
}

footer .logo img{
    width: 250px;
    height: 250px;
    margin-right: 40px;
}

footer .logo{
    margin-right: 160px;
}

footer i{
    color: #4e2c69;
   
}

footer a{
   font-size: 35px;
   margin-left: 35px;
   
}

footer .colunas{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 100px;
}

footer .colunas h1{
    color: white; 
    font-size: 24px;
    margin-bottom: 15px;
}

footer .colunas h2{
    color: rgba(133, 133, 133, 0.641);
    font-size: 20px;
}